block meta
	include metadata.pug

block content
	.container
		section.card
			.row.card-image.center
				i.material-icons(style="font-size:150px; color:red") sentiment_very_dissatisfied
				h5 Não foi possivel efetuar cadastro. Tente novamente!
		footer.card-action
			button.btn.waves-effect.waves-light.orange VOLTAR


