li
    a.waves-effect(href="/encomendas.html") 
        i.material-icons redeem
        | Encomendas
li
    a.waves-effect(href="/clientes.html")
        i.material-icons people
        | Clientes
li
    a.waves-effect(href="/funcionarios.html")
        i.material-icons perm_identity
        | Funcionários
li
    a.waves-effect(href="/unidade_tratamento.html")|
        i.material-icons domain
        | Unidades de Tratamento
li
    a.waves-effect(href="/veiculos.html") 
        i.material-icons drive_eta
        | Veículos
li
    a.waves-effect(href="/relatorio.html")
        i.material-icons find_in_page
        | Relatório