block meta 
	include metadata.pug

block content
	.container
		section.card
			.row.card-image.center
				i.material-icons(style="font-size:150px; color:green") sentiment_very_satisfied
				h5 Cadastro efetuado com sucesso!
		footer.card-action
			button.btn.waves-effect.waves-light.orange VOLTAR


