extends layout.pug

block sidenav
    include sidenav-adm.pug

mixin search-input()
    form.wrapper-search-input(action="")
      input(type="text")
      button.btn.waves-effect.waves-light.orange(type="submit" name="action")
        | Buscar
        i.material-icons.right search

block content
    .row
      .col.s12.m12
        .card
          .card-content
              span.card-title Cadastrar Veiculos 
              form(action="")
                .row
                  .input-field.black-text.col.m9
                    input#cliente(type="text" data-length="14")
                    label(for="cliente") Cliente
                .row
                  .input-field.black-text.col.m9
                    input#destinatario(type="text" data-length="25")
                    label(for="destinatario") Destinatário
                .row
                  .input-field.black-text.col.m4
                    input#cep(type="text")
                    label(for="cep") CEP
                .row
                  .input-field.black-text.col.m6
                    input#logradouro(type="text" data-length="60")
                    label(for="logradouro") Logradouro
                  .input-field.black-text.col.m2
                    input#numero(type="number" min="1")
                    label(for="numero") nº
                .row
                  .input-field.black-text.col.m4
                    input#bairro(type="text")
                    label(for="bairro") Bairro
                  .input-field.black-text.col.m4
                    input#cidade(type="text")
                    label(for="cidade") Cidade
                  .input-field.black-text.col.m2
                    input#uf(type="text")
                    label(for="uf") UF
                .row
                  .input-field.black-text.col.m2
                    input#peso(type="number" min="0")
                    label(for="peso") Peso
                  .input-field.black-text.col.m2
                    input#volume(type="number" min="0")
                    label(for="volume") Volume
                .row
                  .input-field.black-text.col.m12
                    input#descricao(type="text" data-length="100")
                    label(for="descricao") Descrição
                button.btn.waves-effect.waves-light.orange(type="submit" name="action")
                  | CADASTRAR
                  i.material-icons.right send

    .row
      .col.s12.m12
        .card
          .card-content
              span.card-title Atualizar veiculo
              +search-input()
              ul.collapsible(data-collapsible="accordion")
                each encomenda in query
                  li
                    .collapsible-header= encomenda.cliente
                    .collapsible-body= encomenda

    .row
      .col.s12.m12
        .card
          .card-content
              span.card-title Cancelar encomenda
              +search-input()

    .row
      .col.s12.m12
        .card
          .card-content
              span.card-title Rastrear encomenda
              +search-input()
              #map

    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB00C6fRs5Cw4xkXReSHDtrTndYuEvR6OI&callback=initMap" async="" defer="")
    script.
      $(document).ready(function () {
        $('.collapsible').collapsible();
        $('input#destinatario', 'input#logradouro', 'input#descricao').characterCounter();
      });
      function initMap() {
            // Create a map object and specify the DOM element for display.
            var map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: -34.397, lng: 150.644 },
                zoom: 8
            });
        };

    style.
      .collapsible-header {
        color: black;
      }

      .collapsible-body {
        background-color: white;
      }

      #map {
        width: 100%;
        height: 600px;
      }

      .wrapper-search-input{
          display: flex;
          flex-direction: row;
      }
