a {
  color: #00b7ff;
}

form {
  padding: 7px;
}

.parallax-container {
  max-width: 100%;
  height: auto;
}

.parallax {
  max-width: 100%;
  height: auto;
}

.input-field input[type="text"]:focus + label {
  color: orange;
}
